.container{
  margin-left: 38%;
}

.number{
color: white;
text-decoration: none;
}

.color1{
  background-color: #202020;
  color: aliceblue;
  text-decoration: none;
}

.color2{
  background-color: aliceblue;
  color:#202020;
  text-decoration: none;

}

.pageNumbers{
  display: flex;
  width: 600px;
  height: 35px;
  margin-top: 30px;
}

.pageNumbers li{
background: #202020;
color: aliceblue;
max-width: auto;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
padding: 0 15px;
}

.pageNumbers li a.active{
background-color: aliceblue !important;
color: #202020;
}

.pageNumbers li button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: whitesmoke;
}