.paginateContainer{
  justify-content: center;
}

h1{
  color: white;
  justify-content: center
}

.pagination{
  grid-area: pagination;
}

.cards{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  width: 90%;
  margin-left: 40px;
}

.prev{
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.button_A{
  background-color: #202020;
  color: aliceblue;
  text-decoration: none;
  height: 30px;
  cursor: pointer;

}

.button_B{
  background-color: #202020;
  color: aliceblue;
  text-decoration: none;
  height: 30px;
  margin-right: 4%;
  cursor: pointer;
  
}

.Not{
  display: flex;
margin-left: 170% !important;
}

.container{
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 170%;
} 


@media only screen and (min-width: 800px) {
  .cards{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    width: 90%;
    margin-left: 40px;
  }

}



@media only screen and (max-width: 1000px) {
  .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 90%;
    margin-left: 40px;
  }

}


@media only screen and (max-width: 799px) {
  .cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    width: 90%;
    margin-left: 40px;
  }

}

@media only screen and (max-width: 600px) {
  .cards{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    width: 90%;
    margin-left: 40px;
  }

}