.paginateContainer{
  justify-content: center;
}

h1{
  color: white;
  justify-content: center
}

.pagination{
  grid-area: pagination;
}

.cards{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  width: 90%;
  margin-left: 40px;
}

.prev{
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.button_A{
  background-color: #202020;
  color: aliceblue;
  text-decoration: none;
  height: 30px;
  cursor: pointer;

}

.button_B{
  background-color: #202020;
  color: aliceblue;
  text-decoration: none;
  height: 30px;
  margin-right: 4%;
  cursor: pointer;
  
}